<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <div class="container-fluid">
        <%= link_to "Watch List App", lists_path, class: "navbar-nav nav-item nav-link" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
              <li class="nav-item active">
                <%= link_to "My Lists", lists_path, class: "nav-link" %>
              </li>
              <li class="nav-item active">
                <a href="#" id="navbarDropdown" class="nav-link" data-bs-toggle="dropdown">Lists</a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <% List.all.each do |list| %>
                    <%= link_to list.name, list_path(list), class: "dropdown-item" %>
                  <% end %>
                </div>
              </li>
              <li class="nav-item">
                <%= link_to "New List", new_list_path, class: "nav-link" %>
              </li>
          </ul>
        </div>
      </div>
    </div>

    <%= yield %>

    <footer class="d-flex mt-5 mb-1 justify-content-center">Paul Lanza 2022</footer>
  </body>
</html>
